// COLORS
$hot-pink:#ff51bf;

// NEUTRAL
$lily-white:#eafaff;
$daintree:#00242d;
$regent-gray:#7f8d98;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$color-fb-logo:#3C5A99;
$color-tw-logo:#1DA1F2;
$color-insta-logo:#C13584;

$color-primary: $hot-pink;
$color-secondary-light: $lily-white;
$color-secondary-dark: $daintree;
$color-tertiary-light: $regent-gray;




// FONT
$default-font-size: 1.8rem;


// GRID

//$grid-width: 120rem;
$grid-width: 144rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// SCREEN SIZES
