.features-section {
    padding: 20rem 0;

    .sign-up {
        width: 50%;
        display: block;
        text-align: center;
        padding: 5rem 0;
        margin-bottom: -30rem;
        position: relative;
        background-color: $color-white;

        @include respond(tab-port) {
            width: 80%
        }
    }

}

.footer {
    padding-top: 20rem;
}